@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

body{
    background-color: #1A1A40 !important ;
    color: #F2EBE9  !important;
    font-family: 'Open Sans', sans-serif !important;
}